*{
    margin:0px;
    padding: 0px;
}


body{
    box-sizing: content-box;
}

.menu{
    color:red;
}

.section{
    height: 100vh;
}

.container-conteudo-form{
    display:flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 62px);
}


.container-conteudo{
    display:flex;
}

.container-conteudo-item{
    flex-grow: 1;
    padding-right:5px;
}

#text-area{
    resize: none;
    height: 150px;
    line-break: auto;
}

.rodape {
    border-top: #000 solid 2px;
    background-color: gray;
    color: #f2fffc;
    }

footer{
	bottom: 0;
	left: 0;
	width: 100%; 
	box-sizing: border-box; 
    }

.pagina {
    color: white;
    }

.titulo {
    text-align: center;
    background-color: gray;
    color: #FFF;
    padding: 5px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    font-size: 20px;
    text-transform: uppercase;
}

.texto {

align-items: center;
}

#foto_pessoal{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    justify-content: center;
}
.boxFoto{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.grupocard{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 180px;
    margin-bottom: 50px;
    align-content: center;


}

.caixote{
    width: 30vw;
    border-radius: 15px;
    padding: 16px;
    background-color: #b1bfd8;
    background-image: linear-gradient(315deg, #b1bfd8 0%, #6782b4 74%);
    box-shadow: 20px 20px 20px black;
}

@media screen and (max-width: 720px) {
    
    .grupocard{
        margin: 0 20px;
        margin-bottom: 50px;
        justify-content: center;
    }

    .caixote{
        width: 80vw;
        margin-top: 30px;
    }
}