*{
    margin:0px;
    padding: 0px;
}

body{
    box-sizing: content-box;
}

.menu{
    color:red;
}

.section{
    height: 100vh;
}
.section:nth-child(even){
    background-color:#cf6a87;
}

.container-geral{
    border: 1px solid black;
    border-radius: 5px;
    margin: 0 auto;
}

.container-conteudo{
    display:flex;
}

.container-conteudo-item{
    flex-grow: 1;
    padding-right:5px;
}

#text-area{
    resize: none;
    height: 150px;
    line-break: auto;
}

footer{
    bottom: auto;
    width: 100%;
    background: white;
    border-top: 1px solid black;
}