*{
    margin:0px;
    padding: 0px;
}

body{
    box-sizing: content-box;
    height: 100vh;
    width: 100vw;
}

.menu{
    color:red;
}

.section{
    height: 100vh;
}

.container-conteudo-form{
    display:flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 62px);
}


.container-conteudo{
    display:flex;
}

.container-conteudo-item{
    flex-grow: 1;
    padding-right:5px;
}

#text-area{
    resize: none;
    height: 150px;
    line-break: auto;
}

.rodape {
    border-top: #000 solid 2px;
    background-color: gray;
    color: #f2fffc;
    clear: both;
    }

footer{
    position: fixed;
	bottom: 0;
	left: 0;
	width: 100%; 
	box-sizing: border-box; 
    }

.pagina {
    color: white;
    }

.titulo {
    text-align: center;
    background-color: gray;
    color: #FFF;
    padding: 5px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    font-size: 30px;
    text-transform: uppercase;
}
.nome {


}
